.App {
  text-align: center;
}

.header {
  margin-top: 40px;
}

.timeline {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

#now, #now-label {
  fill: #F77;
}

